---
name: Deploy

# yamllint disable-line rule:truthy
on:
  push:
    branches:
      - main
  release:
    types:
      - published

permissions: {}

jobs:
  ci:
    permissions:
      actions: write
      contents: write
      packages: read
      security-events: write
    uses: erik73/workflows/.github/workflows/app-ci.yaml@79ef9fce2918a52060c83c05de485e426205c9fa # v1.0.4

  deploy:
    needs: ci
    permissions:
      contents: write
      packages: write
    uses: erik73/workflows/.github/workflows/app-deploy.yaml@79ef9fce2918a52060c83c05de485e426205c9fa # v1.0.4
    secrets:
      DISPATCH_TOKEN: ${{ secrets.DISPATCH_TOKEN }}
