---
name: Deploy

# yamllint disable-line rule:truthy
on:
  push:
    branches:
      - main
  release:
    types:
      - published

permissions: {}

jobs:
  ci:
    permissions:
      actions: write
      contents: read
      packages: read
      security-events: write
    uses: erik73/workflows/.github/workflows/app-ci.yaml@7e6bed8107c7b15499d82c284068548c0346da59 # v1.0.3

  deploy:
    needs: ci
    permissions:
      contents: read
      packages: write
    uses: erik73/workflows/.github/workflows/app-deploy.yaml@7e6bed8107c7b15499d82c284068548c0346da59 # v1.0.3
    secrets:
      DISPATCH_TOKEN: ${{ secrets.DISPATCH_TOKEN }}
