---
name: Deploy

# yamllint disable-line rule:truthy
on:
  push:
    branches:
      - main
  release:
    types:
      - published

permissions: {}

jobs:
  ci:
    permissions:
      actions: read
      contents: read
      packages: read
      security-events: write
    uses: erik73/workflows/.github/workflows/app-ci.yaml@1210697eaca92a13b6c4fee68d395bafd9102995 # v1.0.2

  deploy:
    needs: ci
    permissions:
      contents: read
      packages: write
    uses: erik73/workflows/.github/workflows/app-deploy.yaml@1210697eaca92a13b6c4fee68d395bafd9102995 # v1.0.2
    secrets:
      DISPATCH_TOKEN: ${{ secrets.DISPATCH_TOKEN }}
