---
name: Stale

# yamllint disable-line rule:truthy
on:
  schedule:
    - cron: "0 8 * * *"
  workflow_dispatch:

permissions:
  issues: write
  pull-requests: write

jobs:
  workflows:
    uses: erik73/workflows/.github/workflows/stale.yaml@1210697eaca92a13b6c4fee68d395bafd9102995 # v1.0.2
